# ignore all files ending in "~" (i.e. backup files)
*~

# ignore all bible text files (i.e. can't be distributed)
*.copyrighted

# ignore all diagnostic test results files
*.diag

# ignore ism variables file
ism.vars
